[submodule "AD_SubTypesML"]
	path = AD_SubTypesML
	url = https://github.com/erikhuck/AD_SubTypesML.git
[submodule "AD_SubTypesCluster"]
	path = AD_SubTypesCluster
	url = https://github.com/erikhuck/AD_SubTypesCluster.git
[submodule "AD_SubTypesDataClean"]
	path = AD_SubTypesDataClean
	url = https://github.com/erikhuck/AD_SubTypesDataClean.git
